@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.animation-fill-forwards {
  animation-fill-mode: forwards;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  height: 100%;
  width: 100%;
}
